body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, section, footer {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%;
    height: auto;
    max-height: 100vh; /* Esto evita que la imagen sea más alta que la pantalla */
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}

h1, h2 {
    color: #333;
}

h2 i {
    margin-right: 10px;
}

form {
    margin-top: 10px;
}

input, textarea, button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

.barra-completitud {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.progreso {
    background-color: #76c7c0;
    height: 20px;
}

.qr {
    margin-top: 10px;
    text-align: center;
}

.qr img {
    max-width: 100px;
    height: auto;
}

footer {
    text-align: center;
}

@media (max-width: 600px) {
    header, section, footer {
        margin: 10px;
        padding: 10px;
    }

    input, textarea, button {
        width: 100%;
        max-width: 100%;
    }

    .qr img {
        max-width: 80px;
    }
}
